.banner {
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.erweima {
  width: 100%;
  position: relative;
  height: auto;
  margin-top: -50px;
  margin-bottom: 70px;
}
.erweima img {
  width: 100%;
  height: auto;
}
.banner_bg {
  width: 100%;
  height: 300px;
  background: url(../images/banner_bg.png) repeat-x;
  background-size: 15px 60px;
  position: absolute;
  z-index: 10;
  bottom: 0px;
  left: 0px;
}
.banner ul {
  position: absolute;
  float: left;
  height: auto;
  width: 500%;
  -webkit-transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
.banner ul li {
  position: relative;
  float: left;
  height: auto;
  width: 20%;
}
.banner ul li img {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 30;
}
.banner_nav_dot {
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0px;
  z-index: 80;
}
.banner_nav_dot li {
  background: #ff655a;
  width: 0px;
  height: 3px;
  -webkit-transition: 0.3s -webkit-transform ease;
}
.banner_box {
  width: 100%;
  position: relative;
  top: 50%;
  margin-top: -150px;
  height: 300px;
  overflow: hidden;
  background: #111111;
}
.banner_box ul {
  width: 100%;
  height: 120px;
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
.banner_box li {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}	
.banner_box img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.slide .pages {
  width: 100%;
  position: absolute;
  bottom: 20px;
  color: #fff;
  text-align: center;
}
.pages_num {
  font-size: 1.3rem;
}	
.slide {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
}	
.slide_close_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url(../images/icon2.png) -40px -40px no-repeat;
  background-size: 80px 175px;
}	
.slide_show {
  visibility: visible;
}	
	