<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">


<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title></title>
<!-- Bootstrap Styles-->
<link href="../css/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="../css/font-awesome.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="../css/custom-styles.css" rel="stylesheet" />

<link href='http://fonts.useso.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="../css/banner.css" type="text/css">
<link rel="stylesheet" href="../css/top.css" type="text/css">
</head>

<body>
	<!-- top追加する -->
	<div th:insert="~{main/part::top}">
		<!--/. NAV TOP  -->
		<div th:insert="~{main/part::sidebar}">
			<div id="page-inner">

				<div class="col-md-12">

					<table style="color: red">

						<tr>
							<th>名前</th>
							<th>メール</th>
							<th>性別</th>
							<th>住所</th>
							<th>誕生日</th>
						</tr>
						<tr th:each="data:${applyUserInfo}" th:object="${data}">
							<td th:text="*{name}"></td>
							<td th:text="*{mail}"></td>
							<td th:text="*{tel}"></td>
							<td th:text="*{sex}"></td>
							<td th:text="*{adress}"></td>
							<td th:text="*{birth}"></td>
						</tr>

					</table>

				</div>
			</div>

		</div>

	</div>
	<!-- foot追加 -->
	<div th:insert="main/part::foot"></div>
	>

	</div>
</body>

</html>