<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>個人情報更新</title>
<!-- Bootstrap Styles-->
<link href="../css/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="../css/font-awesome.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="../css/custom-styles.css" rel="stylesheet" />

<link href='http://fonts.useso.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="../css/banner.css" type="text/css">
<link rel="stylesheet" href="../css/top.css" type="text/css">
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="wrapper">

	<!-- top -->
	<div th:insert="~{main/part::top}"></div>
	<!-- side -->
		<div th:insert="~{main/part::sidebar}"></div>
		<div id="page-wrapper">
			<div id="page-inner">
	<form th:action="@{/saveApplyUserInfo}" method="post">
				<p class="margint10 fncolorhongse" th:text="${message}"
					th:if="${not #strings.isEmpty(message)}"></p>
					<div id="user_info">
					<label for="text">ユーザ名:</label> <br /> <input type="text" th:value="${applyUserInfo.getUserId}"
						class="form-control" id="user" name="userId" readonly="readonly"
						 >
				</div>
				<div id="user_info">
					<label for="email">名前:</label> <br />
					<input type="text" class="form-control" id="name"name="name"th:value="${applyUserInfo.getName}"
						required="required">
				</div>
				<div id="user_info">
					<label for="email">メール:</label><br /> <input type="text" th:value="${applyUserInfo.getMail}"
						class="form-control" id="mail"name="mail"
						required="required">
				</div>
				<div id="user_info">
					<label for="email">電話番号:</label><br /> <input type="number" th:value="${applyUserInfo.getTel}"
						class="form-control" name="tel"
						required="required">
				</div>
				<div class="form-control">
					<label class="radio-inline"><input type="radio" value="1" name="sex"th:checked="${applyUserInfo.getSex==1}"
						>男</label> <label class="radio-inline"><input
						type="radio" name="sex"value="0" th:checked="${applyUserInfo.getSex==0}">女</label>
				</div>
				<div id="user_info">
					<label for="email">住所:</label> <br />
					<input type="datetime" class="form-control" id="adress" name="adress" th:value="${applyUserInfo.getAdress}"
						required="required">
				</div>
				<div id="user_info">
					<label for="email">誕生日:</label><br /> <input type="date"
						class="form-control" id="birth"name="birth" th:value="${applyUserInfo.getBirth}"
						required="required">
				</div>
				<button type="submit" class="btn btn-primary">保存する</button>
				<button type="reset" name="refill">クリア</button><a th:href=@{/login/mypage}>戻る</a>
	</form>
	</div>
</div>
</div>


</body>
</html>